In [2]:
#import library
import pandas as pd
from pathlib import Path

In [5]:
#Assigning Path to csv file and reading files
school_path=Path("Resources/schools_complete.csv")
student_path=Path("Resources/students_complete.csv")
school_df=pd.read_csv(school_path)
student_df=pd.read_csv(student_path)

In [48]:
student_complete_df=pd.merge(school_df,student_df,how="left",on=["school_name","school_name"])
student_complete_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [41]:
#Total Number of unique schools
School_count=student_complete_df["school_name"].nunique()
print(f"Total Number of Unique Schools : { School_count}")

Total Number of Unique Schools : 15

In [46]:
#total Student Name
student_count=len(student_complete_df["student_name"])
print(f"Total Student Name: {student_count}")

Total Student Name: 39170

In [56]:
#Total Budget
unique_values=student_complete_df["budget"].unique()
sum_budget=unique_values.sum()
print(f"Total Budget : {sum_budget}")

Total Budget : 24649428

In [58]:
#Average Math Score
math_avg=student_df["math_score"].mean()
print(f'Average Score of Math is : {math_avg}')

Average Score of Math is : 78.98537145774827

In [62]:
#Average Reading score
avg_reading=student_df["reading_score"].mean()
print(f"Average score of Reading is : {avg_reading}")

Average score of Reading is : 81.87784018381414

In [94]:
#Percent Student passed Math
math_pass_count=student_complete_df[(student_complete_df["math_score"]>=70)].count()["student_name"]
math_pass_percent=math_pass_count / student_count * 100
print(f"math pass percent: {math_pass_percent}")
# print(math_pass)

math pass percent: 74.9808526933878

In [100]:
#Percent Student passed Reading
reading_pass_count=student_complete_df[(student_complete_df["reading_score"]>=70)].count()["student_name"]
reading_pass_percent=reading_pass_count / student_count * 100
print(f"Reading pass percent: {reading_pass_percent}")

Reading pass percent: 85.80546336482001

In [112]:
# Percentage of students that passed both math and reading
pass_count=student_complete_df[(student_complete_df["math_score"]>=70) & 
            (student_complete_df["reading_score"]>=70)].count()["student_name"]
pass_percent=pass_count/student_count *100
print(f"Percentage of Student Who passed Math and reading : {pass_percent}")

Percentage of Student Who passed Math and reading : 65.17232575950983

In [125]:
#Creating database for values
District_summary=[{"Total Number of Unique Schhol":School_count,
                   "Total Student Name":student_count,
                  "Total Budget":sum_budget,
                  "Average Math Score":math_avg,
                  "Average Reading Score":avg_reading,
                  "% Passing Math":math_pass_percent,
                  "% Passing Reading":reading_pass_percent,
                  "% Overall Passing":pass_percent}
                 ]
district_Summary=pd.DataFrame(District_summary)
district_Summary.head()

,Total Number of Unique Schhol,Total Student Name,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [127]:
school_name=student_complete_df["school_name"].unique()
print(school_name)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [173]:
school_summary=school_df.set_index("school_name")
 
#df=school_name.set_index("school_name")
school_summary=school_summary.loc[:,["type"]]
school_summary.sort_values(by="school_name")

                           type
school_name
Bailey High School     District
Cabrera High School     Charter
Figueroa High School   District
Ford High School       District
Griffin High School     Charter
Hernandez High School  District
Holden High School      Charter
Huang High School      District
Johnson High School    District
Pena High School        Charter
Rodriguez High School  District
Shelton High School     Charter
Thomas High School      Charter
Wilson High School      Charter
Wright High School      Charter

In [179]:
student_count=student_complete_df.groupby("school_name")
student_count["student_name"].count()

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [180]:
budget_df=student_complete_df.groupby("school_name")
budget_df["budget"].sum()

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64