In [94]:
#import library
import pandas as pd
from pathlib import Path

In [95]:
#Assigning Path to csv file and reading files
school_path=Path("Resources/schools_complete.csv")
student_path=Path("Resources/students_complete.csv")
school_df=pd.read_csv(school_path)
student_df=pd.read_csv(student_path)

In [96]:
student_complete_df=pd.merge(school_df,student_df,how="left",on=["school_name","school_name"])
student_complete_df

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84
...,...,...,...,...,...,...,...,...,...,...,...
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [97]:
#Total Number of unique schools
School_count=student_complete_df["school_name"].nunique()
print(f"Total Number of Unique Schools : { School_count}")

Total Number of Unique Schools : 15

In [98]:
#total Student Name
student_count=len(student_complete_df["student_name"])
print(f"Total Student Name: {student_count}")

Total Student Name: 39170

In [99]:
#Total Budget
unique_values=student_complete_df["budget"].unique()
sum_budget=unique_values.sum()
print(f"Total Budget : {sum_budget}")

Total Budget : 24649428

In [100]:
#Average Math Score
math_avg=student_df["math_score"].mean()
print(f'Average Score of Math is : {math_avg}')

Average Score of Math is : 78.98537145774827

In [101]:
#Average Reading score
avg_reading=student_df["reading_score"].mean()
print(f"Average score of Reading is : {avg_reading}")

Average score of Reading is : 81.87784018381414

In [102]:
#Percent Student passed Math
math_pass_count=student_complete_df[(student_complete_df["math_score"]>=70)].count()["student_name"]
math_pass_percent=math_pass_count / student_count * 100
print(f"math pass percent: {math_pass_percent}")
# print(math_pass)

math pass percent: 74.9808526933878

In [15]:
#Percent Student passed Reading
reading_pass_count=student_complete_df[(student_complete_df["reading_score"]>=70)].count()["student_name"]
reading_pass_percent=reading_pass_count / student_count * 100
print(f"Reading pass percent: {reading_pass_percent}")

Reading pass percent: 85.80546336482001

In [16]:
# Percentage of students that passed both math and reading
pass_count=student_complete_df[(student_complete_df["math_score"]>=70) & 
            (student_complete_df["reading_score"]>=70)].count()["student_name"]
pass_percent=pass_count/student_count *100
print(f"Percentage of Student Who passed Math and reading : {pass_percent}")

Percentage of Student Who passed Math and reading : 65.17232575950983

In [17]:
#Creating database for values
District_summary=[{"Total Number of Unique Schhol":School_count,
                   "Total Student Name":student_count,
                  "Total Budget":sum_budget,
                  "Average Math Score":math_avg,
                  "Average Reading Score":avg_reading,
                  "% Passing Math":math_pass_percent,
                  "% Passing Reading":reading_pass_percent,
                  "% Overall Passing":pass_percent}
                 ]
district_Summary=pd.DataFrame(District_summary)
district_Summary.head()

,Total Number of Unique Schhol,Total Student Name,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [18]:
school_name=student_complete_df["school_name"].unique()
print(school_name)

['Huang High School' 'Figueroa High School' 'Shelton High School'
 'Hernandez High School' 'Griffin High School' 'Wilson High School'
 'Cabrera High School' 'Bailey High School' 'Holden High School'
 'Pena High School' 'Wright High School' 'Rodriguez High School'
 'Johnson High School' 'Ford High School' 'Thomas High School']

In [111]:
school_summary=school_df.set_index("school_name")
 
#df=school_name.set_index("school_name")
school_summary=school_summary.loc[:,["type"]]
school_summary.sort_values(by="school_name")

                           type
school_name
Bailey High School     District
Cabrera High School     Charter
Figueroa High School   District
Ford High School       District
Griffin High School     Charter
Hernandez High School  District
Holden High School      Charter
Huang High School      District
Johnson High School    District
Pena High School        Charter
Rodriguez High School  District
Shelton High School     Charter
Thomas High School      Charter
Wilson High School      Charter
Wright High School      Charter

In [20]:
student_count=student_complete_df.groupby("school_name")
student_count=student_count["student_name"].count()
print(student_count)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [21]:
budget_df=student_complete_df.groupby("school_name")
budget_df=budget_df["budget"].mean()
print(budget_df)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [22]:
student_budget=budget_df/student_count
print(student_budget)

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

,type,Total Students,Total School Budget,Per Student Budget
school_name,,,,
Huang High School,District,2917,1910635.0,655.0
Figueroa High School,District,2949,1884411.0,639.0
Shelton High School,Charter,1761,1056600.0,600.0
Hernandez High School,District,4635,3022020.0,652.0
Griffin High School,Charter,1468,917500.0,625.0
Wilson High School,Charter,2283,1319574.0,578.0
Cabrera High School,Charter,1858,1081356.0,582.0
Bailey High School,District,4976,3124928.0,628.0
Holden High School,Charter,427,248087.0,581.0
Pena High School,Charter,962,585858.0,609.0
Wright High School,Charter,1800,1049400.0,583.0
Rodriguez High School,District,3999,2547363.0,637.0
Johnson High School,District,4761,3094650.0,650.0
Ford High School,District,2739,1763916.0,644.0
Thomas High School,Charter,1635,1043130.0,638.0

In [23]:
avg_math_score=student_complete_df.groupby("school_name")
avg_math_score=avg_math_score["math_score"].mean()


avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [24]:
avg_reading_score=student_complete_df.groupby("school_name")
avg_reading_score=avg_reading_score["reading_score"].mean()
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [25]:
student_passing_math=student_complete_df[(student_complete_df["math_score"]>=70)]
countof_student_passing_math=student_passing_math.groupby(["school_name"]).size()
countof_student_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [26]:
student_passing_reading=student_complete_df[(student_complete_df["reading_score"]>=70)]
countof_student_passing_reading=student_passing_reading.groupby(["school_name"]).size()
countof_student_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [27]:
Math_passpercent=countof_student_passing_math/student_count*100
Math_passpercent

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [28]:
reading_passpercent=countof_student_passing_reading/student_count*100
reading_passpercent

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [29]:
student_passing_both=student_complete_df[(student_complete_df["math_score"]>=70)&(student_complete_df["reading_score"]>=70)]
student_passing_both=student_passing_both.groupby("school_name").size()
# student_passing_both.count()
student_passing_both

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [30]:
passing_both_percent=student_passing_both/student_count*100
passing_both_percent

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [174]:
school_summary["Total Students"]=student_count
school_summary["Total School Budget"]=budget_df
school_summary["Per Student Budget"]=student_budget
school_summary["Average Math score"]=avg_math_score
school_summary["Average Reading score"]=avg_reading_score
school_summary["% Passing Math"]=Math_passpercent
school_summary["% Passing reading"]=reading_passpercent
school_summary["% Overall passing"]=passing_both_percent
school_summary

,School ID,type,size,budget,Total Students,Total School Budget,Per Student Budget,Average Math score,Average Reading score,% Passing Math,% Passing reading,% Overall passing
school_name,,,,,,,,,,,,
Huang High School,0,District,2917,1910635,39170,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,1,District,2949,1884411,39170,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,2,Charter,1761,1056600,39170,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,3,District,4635,3022020,39170,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,4,Charter,1468,917500,39170,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,5,Charter,2283,1319574,39170,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,6,Charter,1858,1081356,39170,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,7,District,4976,3124928,39170,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,8,Charter,427,248087,39170,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,9,Charter,962,585858,39170,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,10,Charter,1800,1049400,39170,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,11,District,3999,2547363,39170,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,12,District,4761,3094650,39170,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,13,District,2739,1763916,39170,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,14,Charter,1635,1043130,39170,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012

In [32]:
sorted_school_summary=school_summary.sort_values(by="school_name")
sorted_school_summary

,type,Total Students,Total School Budget,Per Student Budget,Average Math score,Average Reading score,% Passing Math,% Passing reading,% Overall passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [33]:
Highest_overall_passing=school_summary.sort_values(by="% Overall passing",ascending=False)
Highest_overall_passing.head()

,type,Total Students,Total School Budget,Per Student Budget,Average Math score,Average Reading score,% Passing Math,% Passing reading,% Overall passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [34]:
Lowest_overall_passing=school_summary.sort_values(by="% Overall passing",ascending=True)
Lowest_overall_passing.head()

,type,Total Students,Total School Budget,Per Student Budget,Average Math score,Average Reading score,% Passing Math,% Passing reading,% Overall passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [143]:
ninth_grader=student_complete_df[(student_complete_df["grade"]=="9th")]

tenth_grader=student_complete_df[(student_complete_df["grade"]=="10th")]
eleventh_grader=student_complete_df[(student_complete_df["grade"]=="11th")]
twelfth_grader=student_complete_df[(student_complete_df["grade"]=="12th")]
eleventh_grader

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,73,55
...,...,...,...,...,...,...,...,...,...,...,...
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,79,95
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,85,72
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,89,86
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90,75
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75

In [62]:
ninth_grader=ninth_grader.groupby("school_name")
ninth_math_score=ninth_grader["math_score"].mean()
ninth_math_score

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [79]:
tenth_grader=tenth_grader.groupby("school_name")
tenth_math_score=tenth_grader["math_score"].mean()
tenth_math_score

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [144]:
eleventh_grader=eleventh_grader.groupby("school_name")
eleventh_math_score=eleventh_grader["math_score"].mean()
eleventh_math_score

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [81]:
twelfth_grader=twelfth_grader.groupby("school_name")
twelfth_math_score=twelfth_grader["math_score"].mean()
twelfth_math_score

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [147]:
math_score_dataframe={"9th":ninth_math_score,
                    "10th":tenth_math_score,
                     "11th":eleventh_math_score,
                     "12th":twelfth_math_score}

In [149]:
math_score_by_grade=pd.DataFrame(math_score_dataframe)
math_score_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [160]:
ninth_grader_r=student_complete_df[(student_complete_df["grade"]=="9th")]

tenth_grader_r=student_complete_df[(student_complete_df["grade"]=="10th")]
eleventh_grader_r=student_complete_df[(student_complete_df["grade"]=="11th")]
twelfth_grader_r=student_complete_df[(student_complete_df["grade"]=="12th")]
eleventh_grader_r
ninth_grader_r
tenth_grader_r
twelfth_grader_r

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88
...,...,...,...,...,...,...,...,...,...,...,...
39137,14,Thomas High School,Charter,1635,1043130,39137,Victoria Bailey,F,12th,75,70
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,77,87
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,91,71
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,94,77
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90

In [161]:
ninth_grader_r=ninth_grader_r.groupby("school_name")
ninth_reading_score_r=ninth_grader["reading_score"].mean()
ninth_reading_score_r

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [162]:
tenth_grader_r=tenth_grader_r.groupby("school_name")
tenth_reading_score_r=tenth_grader["reading_score"].mean()
tenth_reading_score_r

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [163]:
eleventh_grader_r=eleventh_grader_r.groupby("school_name")
eleventh_reading_score_r=eleventh_grader["reading_score"].mean()
eleventh_reading_score_r

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [164]:
twelfth_grader_r=twelfth_grader_r.groupby("school_name")
twelfth_reading_score_r=twelfth_grader["reading_score"].mean()
twelfth_reading_score_r

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [167]:
reading_score_dataframe={"9th":ninth_reading_score_r,
                    "10th":tenth_reading_score_r,
                     "11th":eleventh_reading_score_r,
                     "12th":twelfth_reading_score_r}
reading_score_dataframe

{'9th': school_name
 Bailey High School       81.303155
 Cabrera High School      83.676136
 Figueroa High School     81.198598
 Ford High School         80.632653
 Griffin High School      83.369193
 Hernandez High School    80.866860
 Holden High School       83.677165
 Huang High School        81.290284
 Johnson High School      81.260714
 Pena High School         83.807273
 Rodriguez High School    80.993127
 Shelton High School      84.122642
 Thomas High School       83.728850
 Wilson High School       83.939778
 Wright High School       83.833333
 Name: reading_score, dtype: float64,
 '10th': school_name
 Bailey High School       80.907183
 Cabrera High School      84.253219
 Figueroa High School     81.408912
 Ford High School         81.262712
 Griffin High School      83.706897
 Hernandez High School    80.660147
 Holden High School       83.324561
 Huang High School        81.512386
 Johnson High School      80.773431
 Pena High School         83.612000
 Rodriguez High School    80.629808
 Shelton High School      83.441964
 Thomas High School       84.254157
 Wilson High School       84.021452
 Wright High School       83.812757
 Name: reading_score, dtype: float64,
 '11th': school_name
 Bailey High School       80.945643
 Cabrera High School      83.788382
 Figueroa High School     80.640339
 Ford High School         80.403642
 Griffin High School      84.288089
 Hernandez High School    81.396140
 Holden High School       83.815534
 Huang High School        81.417476
 Johnson High School      80.616027
 Pena High School         84.335938
 Rodriguez High School    80.864811
 Shelton High School      84.373786
 Thomas High School       83.585542
 Wilson High School       83.764608
 Wright High School       84.156322
 Name: reading_score, dtype: float64,
 '12th': school_name
 Bailey High School       80.912451
 Cabrera High School      84.287958
 Figueroa High School     81.384863
 Ford High School         80.662338
 Griffin High School      84.013699
 Hernandez High School    80.857143
 Holden High School       84.698795
 Huang High School        80.305983
 Johnson High School      81.227564
 Pena High School         84.591160
 Rodriguez High School    80.376426
 Shelton High School      82.781671
 Thomas High School       83.831361
 Wilson High School       84.317673
 Wright High School       84.073171
 Name: reading_score, dtype: float64}

In [170]:
reading_score_dataframe=pd.DataFrame(reading_score_dataframe)
reading_score_dataframe

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [171]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [175]:
school_spending_df=sorted_school_summary.copy()
school_spending_df

,type,Total Students,Total School Budget,Per Student Budget,Average Math score,Average Reading score,% Passing Math,% Passing reading,% Overall passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [182]:
school_spending_df["Spending Ranges(per student)"]=pd.cut(x=school_spending_df["Per Student Budget"]
                                                          ,bins=spending_bins,labels=labels)
school_spending_df

,type,Total Students,Total School Budget,Per Student Budget,Average Math score,Average Reading score,% Passing Math,% Passing reading,% Overall passing,Spending Ranges(per student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [186]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges(per student)"])["Average Math score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges(per student)"])["Average Reading score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges(per student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges(per student)"])["% Passing reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges(per student)"])["% Overall passing"].mean()

In [189]:
spending_summary={"Average Math Score":spending_math_scores,
                 "Average Reading Score":spending_reading_scores,
                 "%Passing Math":spending_passing_math,
                 "%passing Reading":spending_passing_reading,
                 "%Overall Passing":overall_passing_spending}

In [192]:
spending_summary=pd.DataFrame(spending_summary)
spending_summary

,Average Math Score,Average Reading Score,%Passing Math,%passing Reading,%Overall Passing
Spending Ranges(per student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [193]:
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [195]:
per_school_summary=sorted_school_summary.copy()
per_school_summary

,type,Total Students,Total School Budget,Per Student Budget,Average Math score,Average Reading score,% Passing Math,% Passing reading,% Overall passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [200]:
per_school_summary["School size"]=pd.cut(x=per_school_summary["Total Students"]
                                                          ,bins=size_bins,labels=labels)
per_school_summary

,type,Total Students,Total School Budget,Per Student Budget,Average Math score,Average Reading score,% Passing Math,% Passing reading,% Overall passing,School size),School size
school_name,,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000),Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000),Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000),Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000),Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000),Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000),Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000),Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000),Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000),Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000),Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000),Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000),Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000),Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000),Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000),Medium (1000-2000)

In [201]:
size_math_scores = per_school_summary.groupby(["School size"])["Average Math score"].mean()
size_reading_scores = per_school_summary.groupby(["School size"])["Average Reading score"].mean()
size_passing_math = per_school_summary.groupby(["School size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School size"])["% Passing reading"].mean()
size_overall_passing = per_school_summary.groupby(["School size"])["% Overall passing"].mean()

In [206]:
size_summary={"Average Math Score":size_math_scores,
                 "Average Reading Score":size_reading_scores,
                 "%Passing Math":size_passing_math,
                 "%passing Reading":size_passing_reading,
                 "%Overall Passing":size_overall_passing}
size_summary=pd.DataFrame(size_summary)
size_summary

,Average Math Score,Average Reading Score,%Passing Math,%passing Reading,%Overall Passing
School size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [207]:
average_math_score_by_type = per_school_summary.groupby(["type"])["Average Math score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["type"])["Average Reading score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["type"])["% Passing reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["type"])["% Overall passing"].mean()

In [209]:
type_summary={"Average Math Score":average_math_score_by_type,
                 "Average Reading Score":average_reading_score_by_type,
                 "%Passing Math":average_percent_passing_math_by_type,
                 "%passing Reading":average_percent_passing_reading_by_type,
                 "%Overall Passing":average_percent_overall_passing_by_type}
type_summary=pd.DataFrame(type_summary)
type_summary

,Average Math Score,Average Reading Score,%Passing Math,%passing Reading,%Overall Passing
type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208